# DATABASE
DATABASE_URL="mysql://root:DATABASE_PASSWORD@localhost:3306/DATABASE_NAME" 
# cloiudinary
CLOUDINARY_CLOUD_NAME="CLOUD_NAME"
CLOUDINARY_API_KEY="API_KEY"
CLOUDINARY_API_SECRET="API_SECRET"
CLOUDINARY_API_ENVIROMENT_VARIABLE="CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
# gemini api key
GEMINI_API_KEY="API_KEY"
# gmail app password and app name
GMAIL_APP_PASSWORD="flrlthhtffkmdjxn"
GMAIL_APP_NAME="sbs groups"